{% extends "questions/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div id="body">
<div class="container">
    <h2 > Change your email</h2>
    <br>

    <form method="post">
        {% csrf_token %}
        <div class="form-group center"  style="width: 300px;">
        <p> Type in your new mail:  </p>
            {{ form.email }}
        </div>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
    <br>
    <h6> You will redirected to profile page after changing the email.</h6>
    <div>
{% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
</div>

</div>

</div>


{% endblock %}
