{% extends "questions/base.html" %}

{% block content %}


    <div class="container">
        <div class="container">
            <h2 > {{ subject_name }} </h2>
            <h2 > </h2>
            <div style="padding-top: 10px;">
                {% if chapters %}
                <h4 >Chapter progress</h4>
                    <!-- Inside index.html -->
                    <ul class="list-group">
                            {% for chapter, percent, grade in chapters %}
                                <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-1">
                                            {{ chapter }}
                                    </div>
                                    <div class="col-xs-2">
                                         Questions done: <progress value={{ percent }} max="1"></progress>
                                    </div>
                                    <div class="col-xs-4">
                                        Grade: {{ grade }}
                                    </div>
                                </div>
                            {% endfor %}
                    </ul>
                {% else %}
                    <p>No courses are available.</p>
                {% endif %}
            </div>
            <a href="{% url 'questions:detail' subject_id next_question_id %}" class="btn btn-default"
               role="button">Start Test</a>

        </div>
    </div>
{% endblock %}
