{% extends "questions/base.html" %}

{% block content %}
    <style type="text/css">
        .chaptertextstyle {
            float: left;
            position: relative;
            left: 0px
        }
    </style>
    <style type="text/css">
        .progresstextstyle {
            float: left;
            position: relative;
            left: 210px
        }
    </style>
    <style type="text/css">
        .gradetextstyle {
            float: left;
            position: relative;
            left: 330px

        }
    </style>
    <style type="text/css">
        .list-group-item {
            margin: 0;
            min-width: 700px;
            width: 100%;
        }
    </style>

    <h1 style="top: 20px;position: relative;">{{ subject_name }} </h1>
    <div class="container">

        <!-- Kun til testing. Bør fjernes/byttes ut senere.
        ================================================== -->
        <div style="top: 20px;position: relative">
            <h4 class="chaptertextstyle"> Chapter </h4>
            <h4 class="progresstextstyle"> Progress </h4>
            <h4 class="gradetextstyle"> Estimated chapter grade </h4>
        </div>
    </div>
    <div style="top: 20px;position: relative">
        {% if chapters %}
            <!-- Inside index.html -->
            <ul class="list-group" style=" width: 560px;table-layout: fixed;">

                {% for chapter, percent, grade in chapters %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3">
                                {{ chapter }}
                            </div>
                            <div class="col-xs-3" style="left: 70px">
                               <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
      {{ percent }}%
  </div> {{ percent }}
</div>
                            </div>
                            <div class="col-xs-2" style="left: 180px;text-align: center;">
                                {{ grade }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No courses are available.</p>
        {% endif %}
    </div>

    <li class="list-group-item" div style="top: 20px;display: inline;word-break:break-all;">
                Estimated subject grade: {{ subject_grade }}
    </li>


    <div style="padding-top: 40px">
        <a href="{% url 'questions:detail' subject_id next_question_id %}" class="btn btn-default"
           role="button">Start Test</a>
    </div>
{% endblock %}
