{% extends "questions/base.html" %}

{% block content %}
    <style>
        .hideextra {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 20px
        }
    </style>
     <style type="text/css">
        .current {
            float: left;
            position: relative;
            left: 0px
        }
    </style>
     <style type="text/css">
        .estimate {
            float: left;
            position: relative;
            left: 150px
        }
    </style>
    <h1 style="top: 20px;position: relative">Profile</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="row">
                        <h4 style="left: 20px;top: 25px;position: relative">{{ user.first_name }} {{ user.last_name }}</h4>
                        <div class="col-md-6">
                            <div class="row">
                                <div style="padding-left: 20px;padding-top: 25px">
                                    <span class="text-muted">Username:</span> {{ user.username }} <br>
                                    <span class="text-muted">Email:</span> {{ user.email }} <br>
                                </div>

                                <div>
                                    <div style="position: relative; left:19px">
                                        <div class="container">
                                            <h4 class="current">Current</h4>
                                            <h4 class="estimate">Estimated grades</h4>
                                        </div>
                                        <ul class="list-group"
                                            style=" width: 500px;table-layout: fixed; padding-top: 10px;padding-right: 10px">

                                            {% for chapter, grade in skills %}
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-5">
                                                            {{ chapter }}:
                                                        </div>
                                                        <div class="hideextra">
                                                            &emsp; {{ grade }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div style="display:flex;justify-content: flex-start; padding-left: 20px; padding-bottom: 20px">
                                    <div style="margin-right: 16px">
                                        <a href="{% url 'questions:change_password' %}"
                                           class="btn btn-default pull-left"><i
                                                class="glyphicon glyphicon-lock"></i> Change password </a>
                                    </div>
                                    <a href="{% url 'questions:change_email' %}" class="btn btn-default pull-left"><i
                                            class="glyphicon glyphicon-envelope"></i> Change email </a>
                                    <div style="margin-left: 16px">

                                        <a href="{% url 'questions:reset' %}" class="btn btn-default pull-right"><i
                                                class="glyphicon glyphicon-off"></i> Reset </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-left">
                <a href="{% url 'questions:delete_user' %}"><i class="glyphicon glyphicon-trash"></i> Delete profile?
                </a>
            </div>
        </div>
    </div>




{% endblock %}
