{% extends "questions/base.html" %}


{% block content %}



    <!-- Kun til testing. Bør fjernes/byttes ut senere.
    ================================================== -->
    <div class="container">
        <h1>Chapter: {{ haschapter.chapter }}</h1>
        <h3>Current skill level ({{ haschapter.chapter }}): {{haschapter}}</h3>
    </div>
    <!--
    ================================================== -->


    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'questions:answer' subject_id question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br> 
    <br>
    <h5> If you need some more help about this specific topic, there is some great links here: </h5>
    {% for url in question.urls_set.all %}
        <a href="{{ url.help_links }}"> {{ url.desc }} </a>
        {% endfor %}

{% endblock %}
