{% extends "questions/base.html" %}

{% block content %}

     <h1> Courses</h1>
    
 <div style="padding-top: 10px;">
        {% if subject_list %}
     <!-- Inside index.html -->
        <ul class="list-group">
            {% for subject, subject_answered, count in subject_list %}
        <li class="list-group-item">
            <a href="{% url 'questions:index_questions' subject.id %}">{{ subject }}</a>
             &emsp;  {{subject_answered}}/{{count}}
            {% endfor %}
        </ul>
        {% else %}
        <p>No courses are available.</p>
        {% endif %}
    </div>

{% endblock %}
