{% extends "questions/base.html" %}

{% block content %}


    <div class="container">
        <div class="container">
            <h2> {{ subject_name }} </h2>
            <h3> </h3>
            <div style="padding-top: 10px;">
        {% if chapters %}
     <!-- Inside index.html -->
        <ul class="list-group">
            {% for subject, percent in chapters %}
        <li class="list-group-item">
            {{ subject }}: <progress value={{percent}} max="1"></progress>
            {% endfor %}
        </ul>
        {% else %}
        <p>No courses are available.</p>
        {% endif %}
    </div>
            <a href="{% url 'questions:detail' subject_id question_list.first.id %}" class="btn btn-default"
               role="button">Start Test</a>

        </div>
    </div>
{% endblock %}
