<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
	    <title>Mutiple Choice Questions</title>
	    <meta charset="utf-8" />
	    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{% static 'questions/css/bootstrap.min.css' %}" />
    </head>

    <body>
	    <nav class="navbar navbar-default">
  		    <div class="container-fluid">
    		    <div class="navbar-header">
      			    <a class="navbar-brand" href="#">ALFUS</a>
    		    </div>
    		    <ul class="nav navbar-nav">
      			    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/questions/">Multiple Choice Questions</a></li>
					<li><a href="/login/">Login</a></li>
      			    <li><a href="/admin/">Admin</a></li>
    		    </ul>
  		    </div>
	    </nav>

        {% if question_list %}
        <ul>
            {% for question in question_list %}
            <li><a href="{% url 'questions:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No questions are available.</p>
        {% endif %}

    </body>
</html>