{% extends "questions/base.html" %}

{% block content %}

     <h1> Courses</h1>

   <form method='GET' action="{% url 'questions:index' %}">
    <input type='text' name='q' placeholder='Search posts'/>
    <input type='submit' value='Search'/>
</form>

 <div style="padding-top: 10px;">
        {% if subject_list %}
     <!-- Inside index.html -->
        <ul class="list-group">
            {% for subject in subject_list %}
        <li class="list-group-item">
            <a href="{% url 'questions:index_questions' subject.id %}">{{ subject }}</a>
             &emsp;  Status
            {% endfor %}
        </ul>
        {% else %}
        <p>No courses are available.</p>
        {% endif %}
    </div>

{% endblock %}
