{% extends "questions/base.html" %}

{% block content %}
    <h1> Question list</h1>

   <form method='GET' action='/questions/search/'>
    <input type='text' name='q' placeholder='Search posts' value= {{ request.GET.q }} />
    <input type='submit' value='Search'/>
</form>


{% if topics %}
    <!-- Inside search.html -->
    <ul class="list-group">
        {% for question in topics %}
        <li class="list-group-item"> {{ question.topic_text }}  &emsp; &emsp;  
            <a href="{% url 'questions:detail' question.id %}">{{ question.question_text }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No questions are available.</p>
    {% endif %}


{% endblock %}
